#jinja2: trim_blocks:False
vm.swappiness = 1
fs.file-max = 26234859
fs.aio-max-nr = 1048576
kernel.pid_max = 4194303
vm.zone_reclaim_mode = 0
vm.vfs_cache_pressure = 1

{%- if ceph_node == 'yes' %}
# Free mem ~= 500MB * [OSDs number on this host]
vm.min_free_kbytes = 4194304
{%- endif %}

#Net
net.ipv4.ip_local_port_range = 1025 65000

# disable TIME_WAIT.. wait ..
net.ipv4.tcp_tw_reuse = 1

# Controls the use of TCP syncookies
net.ipv4.tcp_syncookies = 0
net.ipv4.tcp_low_latency = 1

# Controls IP packet forwarding
net.ipv4.ip_forward = 1
net.ipv4.tcp_fin_timeout = 10
net.ipv4.tcp_timestamps = 1
net.core.netdev_max_backlog = 50000
net.ipv4.tcp_max_syn_backlog = 30000
net.ipv4.tcp_max_tw_buckets = 100000
net.ipv4.tcp_keepalive_time = 60

net.core.somaxconn = 65535

net.ipv6.conf.all.disable_ipv6 = 1
