

{%- if ceph_role != 'admin' %}
pool {{ ntp_srv_1 }} iburst
pool {{ ntp_srv_2 }} iburst
{%- endif %}

confdir /etc/chrony/conf.d
sourcedir /run/chrony-dhcp
sourcedir /etc/chrony/sources.d
keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
ntsdumpdir /var/lib/chrony
logdir /var/log/chrony
maxupdateskew 100.0

rtcsync

makestep 1 3
leapsectz right/UTC