#jinja2: trim_blocks:False
Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
SyslogFacility AUTH
LogLevel INFO
LoginGraceTime 120
{%- set permitroot = ceph_node %}
PermitRootLogin {{ permitroot }}
PasswordAuthentication no
StrictModes yes
PubkeyAuthentication yes
IgnoreRhosts yes
HostbasedAuthentication no
PermitEmptyPasswords yes
ChallengeResponseAuthentication no
X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
ClientAliveInterval 10
ClientAliveCountMax 100
AcceptEnv LANG LC_*
UsePAM yes
UseDNS no
#Subsystem sftp /usr/lib/openssh/sftp-server -l VERBOSE

{%- set list = [] %}
{%- for user in allowed_users %}
  {%- if user != 'root' %}
  {{- list.append( user ) }}
  {%- endif %}
{%- endfor %}

AllowUsers {{ list|join(' ') }}
LogLevel VERBOSE
Subsystem sftp /usr/lib/openssh/sftp-server -l VERBOSE
ForceCommand /usr/bin/ssh-log

